RewriteEngine on

##########################
# www.tomhanoldt.info
##########################

# force www
RewriteCond %{HTTP_HOST} ^tomhanoldt\.info [NC]
RewriteRule ^(.*)$ https://www.tomhanoldt.info/$1 [L,R=301,NC]

# force https
RewriteCond %{HTTP_HOST} ^tomhanoldt\.info [NC]
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://www.tomhanoldt.info/$1 [R=301,L]

# set root for www.tomhanoldt.info/blog
RewriteCond %{HTTP_HOST} ^www.tomhanoldt.info$
RewriteCond %{REQUEST_URI} !^/blog/
RewriteRule ^(.*)$ /blog.tomhanoldt.info/$1
