%article.article.opensource.animate-if-in-view

  %h2.headline
    open source

  %p
    As a heavy user and participant of open source technology it is a big
    goal for me to help and improve this community. Below you see some of my latest
    open source projects.

  .item-wrapper
    .item
      %h3.headline.small web development

      %ul
        %li = @link_to 'easy-website-generator', 'https://github.com/easy-website-generator/easy-website-generator', target: '_blank'

        %li = @link_to 'easy-websites', 'https://github.com/easy-websites', target: '_blank'

        %li = @link_to 'haml-coffee-gulp', 'https://github.com/easy-website-generator/ewg-haml-coffee-gulp', target: '_blank'

        %li = @link_to 'sass-mixins', 'https://github.com/creative-workflow/sass-mixins', target: '_blank'

    .item
      %h3.headline.small jquery plugins

      %ul
        %li = @link_to 'jquery.debug', 'https://github.com/creative-workflow/jquery.debug', target: '_blank'

        %li = @link_to 'jquery.language', 'https://github.com/creative-workflow/jquery.language', target: '_blank'

        %li = @link_to 'jquery.translate', 'https://github.com/creative-workflow/jquery.translate', target: '_blank'

        %li = @link_to 'jquery.tracking', 'https://github.com/creative-workflow/jquery.tracking', target: '_blank'





  .item-wrapper
    .item
      %h3.headline.small wordpress

      %ul
        %li = @link_to 'wordpress-docker', 'https://github.com/creative-workflow/wordpress-docker', target: '_blank'

        %li = @link_to 'wordpress-divi-child-lib', 'https://github.com/creative-workflow/wordpress-divi-child-lib', target: '_blank'

        %li = @link_to 'wordpress-divi-child-modules', 'https://github.com/creative-workflow/wordpress-divi-child-modules', target: '_blank'

    .item
      %h3.headline.small capistrano deployment

      %ul
        %li = @link_to 'capistrano-pm2', 'https://github.com/creative-workflow/capistrano-pm2', target: '_blank'

        %li = @link_to 'capistrano-container', 'https://github.com/creative-workflow/capistrano-container', target: '_blank'

        %li = @link_to 'capistrano-container-db', 'https://github.com/creative-workflow/capistrano-container-db', target: '_blank'

        %li = @link_to 'capistrano-scm-localgitcopy', 'https://github.com/creative-workflow/capistrano-scm-localgitcopy', target: '_blank'

        %li = @link_to 'capistrano-syncfiles', 'https://github.com/creative-workflow/capistrano-syncfiles', target: '_blank'

  .item-wrapper
    .item
      %h3.headline.small misc

      %ul
        %li = @link_to 'easy-terminal-app', 'https://github.com/creative-workflow/easy-terminal-app', target: '_blank'

        %li = @link_to 'html-youtube-mixer', 'https://github.com/tomhanoldt/html-youtube-mixer', target: '_blank'

        %li = @link_to 'pi-setup', 'https://github.com/creative-workflow/pi-setup', target: '_blank'


  .button-wrapper
    = @link_to '&raquo; more on github &laquo;', 'https://github.com/creative-workflow', class: "button cta", target: '_blank'

.icon
  &#10564;
