
%article.article.skills.animate-if-in-view

  %h2.headline
    skills

  %p
    About the years I accumulated a wide and deep knowledge about different technologies,
    approaches and scientific work. It is no question of what language we use to implement
    things, it is a question of what concepts and language patterns fit the best.
    Below a list of services I offer:

  %ul
    %li analysis, planning, conceptualisation

    %li web technologies, responsive design, pagespeed, seo

    %li algorithms, optimisation, testing

    %li agile development, scrum, kanban, git etc.

    %li infrastructure, chef, docker, ansible, terraform, AWS

    %li consulting, workshops, trainings

  %h3.headline.small I am also familiar with

  .technics-wrapper
    = @render_webdesign_technics()

.icon.skills
  &#8623;
