
%article.article.skills.animate-if-in-view

  %h2.headline
    skills

  %p
    About the years I accumulated a wide and deep knowledge. I learned much about technologies,
    approaches and scientific work. It is no question of what a language we use to implement
    things, it is a question of what concepts and language pattern we want to use.
    This is a list of conceptual things i can offer:

  %ul
    %li analysis, planning, conceptualization

    %li web technologies, responsive design, pagespeed, seo

    %li algorithms, optimisation, testing

    %li agile development, scrum, kanban, git etc.

    %li infrastructure, chef, docker, aws

    %li consulting, workshops, trainings

  %h3.headline.small also familiar with

  .technics-wrapper
    = @render_webdesign_technics()

.icon.skills
  &#8623;
