.logo
  = @link_to @image_tag('logo.png', alt: 'Logo', title: 'Logo'), '/'


.links
  = @link_to 'sass-mixins grid test', 'test-grid-grid.html'
  = @link_to 'bootstrap grid test', 'test-grid-bootstrap.html'
  = @link_to 'headjs grid test', 'test-grid-headjs.html'
