.content-wrapper
  .content-inner-wrapper
    +make-container
    .row
      padding: 0 0 20px 0
      +min-width-sm
        padding: 0 0 50px 20px

.headline
  font-size: 10vw
  +min-width-sm
    font-size: 40px
  +max-width-sm
    padding: 0 20px
  & a
    color: inherit
    &:focus, &:hover, &:active
      color: inherit

  &.small
    font-size: 26px
    font-weight: normal
    margin-top: 20px
    +max-width-sm
      padding: 0 20px

.article
  margin: 0 auto
  font-size: 20px
  img
    max-width: 100%
    height: auto
    +inline-block
  p
    text-align: left
    margin: 0 auto
    padding: 15px 25px
  ul
    list-style: none
    margin: 7px 0 0 0
    padding: 0 0 0 25px
    li
      padding: 3px
      +relative
      &:before
        content: '\00bb'
        +absolute
        color: $page-color-gray-dark
        font-weight: bold
        left: -15px

  .icon
    font-size: 120px
    color: $page-icon-color
    text-align: center
